@font-face {
    font-family: 'Monaco';
    src: url('monaco.ttf');
    font-weight: normal;
    font-style: normal;
}

.statusDisplay {
    display: flex;
    height: 100px;
    align-items: center;
    text-align: center;
}

.statusImage {
    max-height: 100px;
    max-width: 100%;
    height: auto;
    width: auto;
}

.dataDisplay {
    display: none; /* When disconnected (that is the initial state) */
    height: 100px;
}

.hr {
    display: flex;
    align-items: center;
    position: absolute;
}

.hrText {
    color: #FC3718; /* Heart rate text color */
    font-family: Monaco, sans-serif; /* Heart rate text font */
    text-shadow: 0 0 2px black;

    font-size: 600%;
    margin-left: 15px;
    margin-top: 5px;
}

.hrImage {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}

.cal {
    display: none;
    align-items: center;
    position: absolute;
    left: 320px;
}

.calText {
    color: #FF1252; /* Calories text color */
    font-family: Monaco, sans-serif; /* Calories text font */
    text-shadow: 0 0 2px black;

    font-size: 600%;
    margin-left: 15px;
    margin-top: 5px;
}

.calImage {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}