.statusDisplay {
    text-align: center;
}

.statusImage {
    height: 100px;
}

.dataDisplay {
    text-align: center;
    display: none; /* When disconnected (that is the initial state) */
}

.hr {
    display: inline;
}

.hrText {
    color: white; /* Heart rate text color */
    font-family: Arial, sans-serif; /* Heart rate text font */
    -webkit-text-stroke: 1px black; /* Heart rate text outline. Remove for no outline. */

    font-size: 550%;
    position: relative;
    top: -17px;
    left: 15px;
}

.hrImage {
    width: 100px;
}

.cal {
    display: none;
}

.calText {
    color: white; /* Calories text color */
    font-family: Arial, sans-serif; /* Calories text font */
    -webkit-text-stroke: 1px black; /* Calories text outline. Remove for no outline. */

    font-size: 550%;
    position: relative;
    top: -17px;
    left: 15px;
}

.calImage {
    width: 100px;
    padding-left: 70px;
}